<a href="https://colab.research.google.com/github/nailah21400/HU-DATA-200/blob/main/Relational_Databases_in_Python_using_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## Importing Libaries

!pip install sqlite-database

Collecting sqlite-database
  Downloading sqlite_database-0.7.0-py3-none-any.whl.metadata (4.2 kB)
Downloading sqlite_database-0.7.0-py3-none-any.whl (35 kB)
Installing collected packages: sqlite-database
Successfully installed sqlite-database-0.7.0

In [2]:
# Import the libraries
import sqlite3
import csv
import numpy as np
import pandas as pd

In [3]:
# Create a connection
conn = sqlite3.connect('energyindicators.sqlite')

# Create a cursor object to navigate
cur = conn.cursor()

In [6]:
# Create a cursor to interact with the database.
cur.execute('''DROP TABLE graduates''')

In [4]:
# Create a new table named students
# Table fields will be name, graduation year, and school
cur.execute('''
CREATE TABLE graduates(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    graduated INTEGER,
    school TEXT
   )
   ''')

In [5]:
# Insert a record into the table
cur.execute('''
INSERT INTO graduates (name, graduated, school) VALUES ('Shirley Chisholm', 1951, 'Columbia University')''')
conn.commit()

In [7]:
# Import more than one data into the table
# Start with a list for the data
data = [('Kimberle Crenshaw', 1989, 'Columbia University'),
        ('Barack Obama', 1983, 'Columbia University'),
        ('Mae Jemison', 1981, 'Cornell University School of Medicine'),
        ('Bessie Coleman','NULL' ,'Langston Industrial College'),
        ('Langston Hughes', 1929, 'Lincoln University'),
        ('Maya Angelou', 1944, 'Mission High School'),
        ('Zora Neale Hurston', 1928, 'Columbia University'),
        ('Claudette Colvin','NULL' , 'Booker T Washington High School'),
        ('Martin Luther King Jr', 1948, 'Morehouse College'),
        ('Audre Lorde', 1961, 'Columbia University'),
        ('Ruby Bridges','NULL' , 'Kansas City Business School'),
         ('LaKeta L Kemp', 2024, 'Howard University')]